<h1><div class="region">
    <%= @destination.region.name %>
</div></h1>

<h2>
    <div class="flag">
        <%= @destination.flags[0].get_flag_emoji %> <%= @destination.name %> <%= @destination.flags[0].get_flag_emoji %>
    </div> 
</h2>
<h3>
    <div class="language">
        <% if @destination.language_secondary %>
            Languages: <%= @destination.language_primary.name %> & <%= @destination.language_secondary.name %>
        <% else %>
            Language: <%= @destination.language_primary.name %>
        <% end %>
    </div>
</h3>
<h4>
    <div class="cities">
        <div class="city-header">Primary Cities</div>
        <div>
            <ul class="city-list">
                <% @destination.cities.each do |city| %>
                    <li><a href=<%= 'https://en.wikivoyage.org/wiki/' + city.tr(" ", "_") %>><%= city %></a></li>
                <% end %>
            </ul>
        </div>
    </div>
</h4>

<% if @destination.divisions %>
    <div class="jurisdictions">Sub-jurisdictions: <%= @destination.divisions %></div>
<% end %>